html
  width: 100%
  min-height: 100%
  background: #fff
  padding: 20px

body
  width: 100%
  min-height: 100%
  box-sizing: border-box
  position: relative
  background-color: $off-white
  font-family: $font-stack
  font-size: calc(1em + 1vw)
  margin: auto
  padding: 20px
