html
  width: 100%
  min-height: 100%
  background: #fff
  padding: 20px
  @include media($tablet)
    padding: 0



body
  width: 100%
  min-height: 100%
  max-width: 1200px
  box-sizing: border-box
  position: relative
  background-color: $off-white
  font-family: $font-stack
  font-size: calc(1em + 1vw)
  margin: auto
  padding: 20px
