html,
body
  +size(100%)

html
  background: #fff
  padding: 20px

body
  background-color: $off-white
  font-family: $font-stack
  font-size: calc(1em + 1vw)
  margin: auto
  max-width: 1200px
  padding: 20px
