html
  width: 100%
  min-height: 100%
  background: #fff
  padding-top: 20px
  padding-left: 20px
  padding-right: 20px
  padding-bottom: 0
  @include media($tablet)
    padding: 0

body
  width: 100%
  min-height: 100%
  box-sizing: border-box
  position: relative
  background-color: $off-white
  font-family: $font-stack
  margin: auto
  padding-top: 20px
  padding-left: 20px
  padding-right: 20px
  padding-bottom: 0
  line-height: 1.4em

h1
  font-size: +em(50px)
  @include media($tablet)
    font-size: +em(35px)

p
  font-size: +em(25px)
  line-height: 1.5em
  @include media($tablet)
    font-size: +em(20px)
