---
layout: default
---
{% include navbar.html %}
<section class="main">
    {% include about.html %} {% include history.html %} {% include events.html %} {% include sponsors.html %} {% include default.html %}
</section>
<div style="height: 2000px">
  <ul id="hexGrid">
    {% for i in (1..11) %}
    <li class="hex">
        <a class="hexIn" href="#">
            <img src="https://farm9.staticflickr.com/8461/8048823381_0fbc2d8efb.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
        </a>
    </li>
    {% endfor %}

        </ul>
</div>
