<div class="about">
    <h1 class="welcome">We are 25toLife</h1>
    <p class="info">
        We are the Fall 2016 class of BUS 361 and our goal is to raise <span style="color: #0079c2">$30,000</span> for the Canadian Cancer Society. We met for the first time in September and now together we are striving to learn project management and contributing to something meaningful
    </p>
    <div class="graphs">
        <div class="circle money-raised-graph" id="circle1">
            <strong></strong>
            <p>Our Current Progress</p>
        </div>
        <div class="circle number-of-events-graph" id="circle2">
            <strong></strong>
            <p>Number Of Events Completed</p>
        </div>
        <div class="circle days-left" id="circle3">
            <strong></strong>
            <p>Days Left</p>
        </div>
    </div>
</div>
