<div class="about">
    <h1 class="welcome">We are 25toLife</h1>
    <p class="info">
        25toLife is a joint project between Kamal Masri's SFU Beedie School of Business Project Management class and the Canadian Cancer Society (CCS). 
        This project aims to raise funds for cancer research and to support individuals who are affected by this disease while learning project management.
        <br><br>Our goal this year is to raise <span style="color: #0079c2">$30,000</span> for the CCS by December 5, 2016. 
        After meeting each other for the first time on September 12, 2016, we decided we would organize seven diverse fundraiser events.<br><br>
        Thank you for all of you who are joining our team in the fight for life.<br><strong>And that is something we can all live for.</strong>
      </p>
    <div class="graphs">
        <div class="circle money-raised-graph" id="circle1">
            <strong></strong>
            <p>Our Current Progress</p>
        </div>
        <div class="circle number-of-events-graph" id="circle2">
            <strong></strong>
            <p>Number Of Events Completed</p>
        </div>
        <div class="circle days-left" id="circle3">
            <strong></strong>
            <p>Days Left</p>
        </div>
    </div>
</div>
