<div class="home">
    <h1 class="welcome">Welcome to 25toLife</h1>
    <p class="info">
        25toLife is a joint project between the SFU Beedie School of Business‘ Project Management class and the Canadian Cancer Society (CCS). After meeting each other for the first time on September 8, 2015, we decided we would organize nine diverse fund-raising
        events.
        <br/><br/>
        <strong>The Goal:</strong> Raise <span style="color: #0079c2">$30,000</span> by Decemer 25, 2016
    </p>
    <a class="donate-now" href="#">Donate Now!</a>
</div>
