<nav class="nav">
    <ul class="nav-ul">
        <li id="nav-about" class="nav-item left"><a href="/index.html#about">About</a></li>
        <li id="nav-history" class="nav-item left"><a href="/index.html#history">History</a></li>
        <li id="nav-home" class="nav-item logo"><a href="/index.html"><span class="hidden-home">Home</span>{% include 25toLife_logo_dots.svg %}</a></li>
        <li id="nav-events" class="nav-item right"><a href="/index.html#events">Events</a></li>
        <li id="nav-sponsors" class="nav-item right"><a href="/index.html#sponsors">Sponsors</a></li>
    </ul>
</nav>
<div class="mobile-toggle-container">
  <div class="mobile-nav-toggle"><span></span>
      <a href="#" class="nav-toggle"></a>
  </div>
  <img class="logo-img" src="/images/originals/25toLife_logo_textonly.png" alt="" />
</div>
