@import "hexagon/hexagon"

.events-section
  +outer-container

  .events-sep
    width: 100%
    border-bottom: solid 1px
    line-height: 0.1em
    margin-bottom: 80px

    span
      font-weight: 400
      padding: 0 10px 0 10px
      background: #f5f5f5
      margin-left: 20px
      font-style: italic

  .hex
    pointer-events: none
    opacity: 0
    transition: opacity 1s ease-in-out

    .hexIn
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.59)

    h1
      line-height: 1em
      background-color: $black
    p
      color: white
      line-height: 1em
      background-color: $black

  .upcoming
    h1
      background-color: rgba($blue,.8)
      color: $black
    h1:after
      border-bottom-color: $black
    p
      background-color: rgba($blue,.8)
      color: $black

  .completed
    h1
      background-color: rgba($yellow, .8)
      color: $black
    h1:after
      border-bottom-color: $black
    p
      background-color: rgba($yellow, .8)
      color: $black
  .hex-see
    opacity: 1.0
    pointer-events: auto

  @media (min-width: 901px)
    .hex-see:nth-last-of-type(2)
      margin-left: 25%
