@import "hexagon/hexagon"

.events-section
  +outer-container

  .events-sep
    width: 100%
    border-bottom: solid 1px
    line-height: 0.1em
    margin-bottom: 80px

    span
      font-weight: 400
      padding: 0 10px 0 10px
      background: #f5f5f5
      margin-left: 20px
      font-style: italic

  .hex
    pointer-events: none
    opacity: 0
    transition: opacity 1s ease-in-out
    h1
      line-height: 1em
    p
      line-height: 1em

  .upcoming
    h1
      background-color: rgba($blue,.8)
    p
      background-color: rgba($blue,.8)

  .completed
    h1
      background-color: rgba($yellow, .8)
    p
      background-color: rgba($yellow, .8)
  .hex-see
    opacity: 1.0
    pointer-events: auto
