.container
  +outer-container
  margin-top: 100px
  .event-title
    border-bottom: 1px solid black
    padding-bottom: 10px
    small
      font-size: 55%
      color: $light-grey
  .content
    @include media($largedesktop)
      +span-columns(5 of 12)
    @include media($desktop)
      +span-columns(5 of 12)
    @include media($tablet)
      +span-columns(12 of 12)
    a
      text-decoration: none
    table
      border-collapse: collapse
      width: 100%
      th
        border: 1px solid #dddddd
        padding: 5px
        text-align: left
      td
        border: 1px solid #dddddd
        padding: 5px
        color: $dark-grey


  .rslides_container
    margin-top: 1em
    position: relative
    @include media($largedesktop)
      +shift(1)
      +span-columns(6 of 12)
    @include media($desktop)
      +shift(1)
      +span-columns(6 of 12)
    @include media($tablet)
      +shift(0)
      +span-columns(12 of 12)
    .rslides
      position: relative
      list-style: none
      overflow: hidden
      width: 100%
      padding: 0
      margin: 0
      li
        -webkit-backface-visibility: hidden
        position: absolute
        display: none
        width: 100%
        left: 0
        top: 0
        &:first-child
          position: relative
          display: block
          float: left
      img
        display: block
        height: auto
        float: left
        width: 100%
        border: 0

    .rslides1_nav
      position: absolute
      -webkit-tap-highlight-color: rgba(0,0,0,0)
      top: 50%
      left: 0
      z-index: 99
      opacity: 0.7
      text-indent: -9999px
      overflow: hidden
      text-decoration: none
      height: 61px
      width: 38px
      background: transparent url(/images/originals/themes.gif) no-repeat left top
      margin-top: -45px

    .next
      left: auto
      background-position: right top
      right: 0


.related-projects
  +outer-container
  margin-top: 100px
  border-top: 1px soild black

  h3
    border-bottom: 1px solid $light-grey

  .project
    +span-columns(3 of 12)
    &:last-of-type
      +omega()

    img
      +size(100% auto)
      max-height: 275px
