.sponsors
  +outer-container
  .welcome
    text-align: center
  .hex-sponsor-container
    @include media($largedesktop)
      padding-top: 30px
      +span-columns(8 of 12)
      +shift(2)
    @include media($desktop)
      +span-columns(8 of 12)
      +shift(2)
    @include media($tablet)
      padding-top: 50px
      +span-columns(12)
      +shift(0)

    .hex-even
      .hex-sponsor
        @include media($largedesktop)
          +span-columns(2 of 12)
          +omega(6n)
        @include media($desktop)
          +span-columns(2 of 12)
          +omega(6n)
        @include media($tablet)
          +span-columns(6 of 12)
          +omega(2n)
  .svg-graphic
    width: 100%
    +filter(drop-shadow( 2px 2px 1px rgba(0,0,0,.3) ))
